<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>

	<!-- web.xml中建议监听器放在最上面，过滤器次之，servlet放在最后 -->
	<!-- 当前监听器在服务启动时激活，用于开启Spring配置文件的读取 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:beans-*.xml</param-value>
	</context-param>

	<!-- 配置字符编码集的过滤器 -->
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <filter>
		<filter-name>checkManager</filter-name>
		<filter-class>com.wangyufang.filter.CheckManagerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>checkManager</filter-name>
		<url-pattern>/goods/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>checkManager</filter-name>
		<url-pattern>/manager/drop</url-pattern>
	</filter-mapping> -->
	<!-- springMVC的核心servlet -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/springmvc-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
